@import "../../app.scss";

.home {
    height: 100vh;
    .content {
        background-color: $darkBgColor;
        height: inherit;
    }

    .main{
    	height: 100%;
    }
    
    .main-map {
    	height: 100%;
    	width: 100%;
    }
}
