.side-menu {
    .sm-toolbar {
        .md-icon-button .material-icons{
            display: block;
            margin-left: auto;
            speak: none;
            vertical-align: middle;
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
        }
        .md-icon-button.toggled .material-icons{
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }
    }
    .md-list-item-text {
        padding: 15px 0;
    }
    .sm-list {
        z-index: 1;
        -webkit-transition: max-height 0.50s cubic-bezier(0.35, 0, 0.25, 1);
        -o-transition: max-height 0.50s cubic-bezier(0.35, 0, 0.25, 1);
        -ms-transition: max-height 0.50s cubic-bezier(0.35, 0, 0.25, 1);
        transition: max-height 0.50s cubic-bezier(0.35, 0, 0.25, 1);
        max-height: 450px;
        overflow: hidden;
    }
    .sm-list.ng-hide {
        max-height: 0px;
    }

    .switch{
        margin-left: 15px;
        font-size: 1.5em;
    }
}
